@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Protest+Guerrilla&display=swap');

@import "tailwindcss";

@theme {
  --color-klack-red-500: #fe6161;
  --color-klack-red-600: #e95656;
  --color-klack-red-700: #cc4d4d;
  --font-dosis: "Dosis", sans-serif;
}
